<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <link rel="stylesheet" href="/src/main/resources/static/css/admin/header.css">
  </head>
  <body>
      <div th:fragment="adminFooter">
        <div class="row footer2">
            <div class="col-8 bq">
                <p>© 2021 - Bản quyền thuộc về Tan-Electric_Device - Nơi cung cấp và trưng bày nhiều thiết bị điện
                    tử nhất trên thế giới</p>
            </div>
            <div class="col-4 gd">
                <p>Giám đốc công ty: <span style="font-variant: small-caps;">Hồ Ngọc Tấn (Tấn Hegemony)</span></p>
            </div>
          </div>
      </div>
  </body>
</html>