<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <link rel="stylesheet" href="/src/main/resources/static/css/admin/header.css">
  </head>
  <body>
      <div th:fragment="footer">
        <div class="row mt-5 footer1">
            <div class="col-3 ttcch">
                <h6>Thông tin của cửa hàng</h6>
                    <p><i class="fas fa-map-marker-alt"></i>
                        Số ?, Đường Tô Hiệu, TDP Giáp Nhất, P.Hương Văn, TX.Hương Trà,
                        Thừa Thiên Huế</p>
                    <p><i class="fas fa-phone"></i> Hotline: 0376160960 - 0788660253</p>
                    <p><i class="fas fa-envelope"></i> Email: ngoctan10a2@gmail.com</p>
                    <p><i class="fas fa-globe-europe"></i> Website: TanElectricDevice.com.vn</p>
            </div>
            <div class="col-3 mxh">
                <h6>Mạng xã hội</h6>
                <p><a href="#"><i class="fab fa-facebook"></i> Facebook</a></p>
                <p><a href="#"><i class="fab fa-youtube"></i> Youtube</a></p>
                <p><a href="#"><i class="fab fa-instagram"></i> Instagram</a></p>
            </div>
            <div class="col-3 ttanddvvc">
                <h6 class="tt">Thanh toán</h6>
                <p>
                    <a href="#"><img src="/images/footer/visa.jpg" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/mastercard.jpg" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/jcb.png" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/americanexpress.png" style="width: 30%;" alt=""></a>
                </p>
                <h6 class="dvvc">Đơn vị vận chuyển</h6>
                <p>
                    <a href="#"><img src="/images/footer/ghtk.png" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/GHNexpress.png" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/logo-viettel-post.jpeg" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/vietnampost.jpg" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/logo_j&texpress.png" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/logo_grabexpress.png" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/ninjavan-logo.png" style="width: 30%;" alt=""></a>
                    <a href="#"><img src="/images/footer/best-express.jpg" style="width: 30%;" alt=""></a>
                </p>
            </div>
            <div class="col-3 tud">
                <h6>Tải ứng dụng T-ED ngay tại</h6>
                <p><img src="/images/footer/tudmaQR.png" style="width: 50%;" alt=""></p>
                <p>
                    <a href="#"><img src="/images/footer/tud1.png" style="width: 50%;" alt=""></a>
                    <a href="#"><img src="/images/footer/tud2.png" style="width: 50%;" alt=""></a>
                    <a href="#"><img src="/images/footer/tud3.png" style="width: 50%;" alt=""></a>
                </p>
            </div>
        </div>
        <div class="row map">
            <div class="col-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.5372221108632!2d108.21895171416953!3d16.03758844454661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219e90334f96f%3A0x430e2149e78987c7!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIFBoxrDGoW5nIMSQw7RuZyDEkMOgIE7hurVuZw!5e0!3m2!1svi!2s!4v1636018591020!5m2!1svi!2s" 
                width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <!-- footer2 -->
        <div class="row footer2">
                <div class="col-8 bq">
                    <p>© 2021 - Bản quyền thuộc về Tan-Electric_Device - Nơi cung cấp và trưng bày nhiều thiết bị điện
                        tử nhất trên thế giới</p>
                </div>
                <div class="col-4 gd">
                    <p>Giám đốc công ty: <span style="font-variant: small-caps;">Hồ Ngọc Tấn (Tấn Hegemony)</span></p>
                </div>
        </div>
      </div>
  </body>
</html>